
body {
		font-family: 'Oswald', sans-serif;
}
h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 72px;
		color: white;
		font-weight: 300;
		margin-bottom: 0;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		color: #4F4F4F;
		margin-bottom: 0;
	}
	h3{
		font-family: "Oswald";
		font-style: normal;
		font-size: 30px;
		line-height: 100%;
		color: #4F4F4F;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	}

	h4 {
		font-family: "Roboto Condensed";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		color: #737373;
	}

	/* 	-----	HEADER	-----  */


	#header{
		background: linear-gradient( #FAA20E, #E7833B);
		width: 100%;
		height: 500px;
		box-shadow: 0 2px 4px rgba(0,0,0,.4);
		text-align: center;
		font-weight: normal;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
		display: flex;
	}
	.logo {
		position: absolute;
		top: 26px;
		left: 24px;
		width: 130px;
	}
	.searchIcon {
		position: absolute;
		right: 50px;
		top: 44px;
	}

	.searchIcon img {
		width: 50px;
	}
	.headerText {
		
	}
	.headerText:after {
		content: "Your favourite movie source";
		color: white;
		font-family: "Oswald";
		font-weight: 300;
		font-size: 42px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	}

/* 	----	BODY	-----  */




/* ---- 	MEDIA	 ----*/


@media (max-width: 600px){
	
	h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 1.7em;
		color: white;
		font-weight: 300;
		margin-bottom: 0;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		color: #4F4F4F;
		margin-bottom: 0;
	}
	h3{
		font-family: "Oswald";
		font-style: normal;
		font-size: 30px;
		line-height: 100%;
		color: #4F4F4F;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	}

	h4 {
		font-family: "Roboto Condensed";
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		color: #737373;
	}


	/* 	-----	HEADER	-----  */


	#header{
		background: linear-gradient( #FAA20E, #E7833B);
		width: 100%;
		height: 200px;
		box-shadow: 0 2px 4px rgba(0,0,0,.4);
		display: flex;
		position: relative;
		}

		.logo{
			height: 42px;
			width: 52px;
			position: absolute;
			left: 16px;
			top: 14px;
		}
		.searchIcon {
			height: 20px;
			width: 21px;
			position: absolute;
			right: 20px;
			top:22px;
		}
		.headerText {
			width: 100%;
		}
		.headerText h1 {
			text-align: center;
			/*padding-bottom: 65px;*/
		}
		.headerText:after {
			display: none;
		}


		/* 	----	BODY	-----  */

		.movieImg {
			height: 214px;
			border: 2px solid white;
			box-sizing: border-box;
			box-shadow: 0 2px 8px rgba(0,0,0, .3);
			overflow: hidden;
			position: relative;
		}
		.movieImg img {
			width: 100%;
		}
		.movieRowText {
			padding-top: 28px;
			padding-bottom: 18px;
		}
		.movieImg:after {
			height: 100%;
			/*width: 100px;*/
			/*background-color: rgba(255,255,255,.7);*/
			content: "";
			z-index: 120;
			position: absolute;
			top: 0;
			right: 0;
			border-bottom: 214px solid rgba(255,255,255,.8);
    		border-left: 90px solid transparent;
    		border-right: 100% solid transparent;
			width: 60%;
		}
		.movieImgInfo {
			color: black;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 300;
			font-size: 30px;
			color: #4F4F4F;
			text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
		}
		.movieImgRating {
			/* Ellipse 2 */
			background: #E7833B;
			opacity: 1.00;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
			width: 32px;
			height: 32px;
			border-radius: 100%;
			position: relative;
		}
		.movieImgRating:after{
			position: absolute;
			content: "8.1";
			font-family: "Roboto";
			font-weight: bold;
			font-size: 13px;
			color: #FFFFFF;
			margin: auto;
		}
}













