<div class="filter">
	<div class="search row align-center">
		<input class="small-10" type="text" value="Search">
	</div>
</div>
<div class="row align-center">
	<div class="small-11 rating">	
		<h2>Rating</h2>
	</div>
</div>

<div class="row align-center">
	<div class="small-12">
		<div class="slider" id="circles-slider">
		</div>	
	</div>
</div>
<div class="row align-center">
	<div class="small-11 rating">	
		<h2>Year</h2>
	</div>
</div>
<div class="row align-center">
	<div class="small-12">
		<div class="slider year-slider" id="circles-slider">
		</div>	
	</div>
</div>

<div class="row align-center">
	<div class="small-11 rating">	
		<h2>Genre</h2>
	</div>
</div>
<div class="row align-center responsiveFilter small-10 button-group">
	<button class="genreFilter button" data-filter="*">Option1</button>
	<button class="genreFilter button" data-filter="*">Option1</button>
	<button class="genreFilter button" data-filter="*">Option1</button>
	<button class="genreFilter button" data-filter="*">Option1</button>
	<button class="genreFilter button" data-filter="*">Option1</button>
	<button class="genreFilter button" data-filter="*">Option1</button>
	
	
	</div>
</div>