body {

}
.rating {
  margin-bottom: 24px;
}
.genreFilter {
  background: #E84B33;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  color: white;  

  display: inline-block;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.genreFilter:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

/*.button:active,
.button.is-checked {
  background-color: #28F;
}*/
/*.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}*/
.button:active {
  box-shadow: none;
}
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.search input {
	width: 100%;
	border-style: none;
	border-bottom: 2px solid black;
	border-radius: 0;
	box-shadow: none;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 16px;
	color: #BDBDBD;
	width: 450px;
    padding: 10px;
    margin: 15px;
    background-image: url('../icon/LEITsvart.png');
    background-repeat: no-repeat;
    background-position: 98% 50%;
	background-size: 20px;
	background-color: transparent;
}

.ui-slider-range {
  background-color: #FBA20E;
}

#circles-slider.ui-slider {
  border-radius: 20px;
  background: transparent;
  border: none;
  height: 10px;
  margin: 1em 4em 4em; }
                    
#circles-slider .ui-slider-handle {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  top: -10px;
  margin-left: -11px;
  background-color: #FBA20E;
  border: none;
}

#circles-slider .ui-slider-handle:after {
  content: "";
  position: absolute;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  background: rgba(251, 162, 14, 0.3);
  top:  -5px;
  left: -5px;
}

                    
#circles-slider .ui-slider-pip {
  top: 3px; }
                    
  #circles-slider .ui-slider-pip .ui-slider-line {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: -2px;
    background: #E5E5E5; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-last,
  #circles-slider .ui-slider-pip.ui-slider-pip-first {
    top: -7px; }
                    
    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
      display: none; }
                    
    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
      margin: 0; 
    }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
    left: -2em;
    text-align: right; 
    top: -30px;
    color: grey;
    font-weight: 300;
  }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label {
    left: 2em;
    text-align: left;
    top: -30px;
    color: grey;
    font-weight: 300;
     }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    font-weight: normal; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-selected {
    font-weight: bold; }
                    
  #circles-slider .ui-slider-pip.ui-slider-pip-selected,
  #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
    color: #434d5a; }


    #steps-fivepercent-slider .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    top: -30px;
}
.ui-slider-float .ui-slider-tip, .ui-slider-float .ui-slider-tip-label {
  border: none;
}
.ui-slider-float .ui-slider-tip:before, 
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: orange;
  border-top: none;
  bottom: -20px;
  position: absolute;
}
.ui-slider-float .ui-slider-tip:after, 
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
  display: none;
}


